/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* General styling */

.demo-p {
  font-size: 32px;
}

.demo-p::before,
.demo-p::after {
  color: red;
  font-size: 60px;
}

.demo-p::before {
  content: open-quote;
  margin-right: 10px;
}

.demo-p::after {
  content: close-quote;
  margin-left: 10px;
}
